/* Container */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Madimi One', sans-serif;
    background-color: #f4f4f4;
}

main {
    flex: 1;
    padding-bottom: 20px; /* Espaço extra para o rodapé */
}

header {
    background-color: #71FF71; /* Cor de fundo do header */
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo img {
    width: 100px; /* Ajuste a largura da logo conforme necessário */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.colaboradores {
    text-align: center;
    padding: 20px;
}

.colaboradores h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333; /* Cor do título */
}

.colaborador {
    display: inline-block;
    width: 200px;
    margin: 10px;
    text-align: center;
}

.colaborador img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.colaborador h2 {
    font-size: 24px;
    margin: 10px 0 5px;
    color: #B388EB; /* Cor do nome do colaborador */
}

.colaborador p {
    font-size: 16px;
    color: #666;
}

footer {
    background-color: #71FF71; /* Cor de fundo do footer */
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

footer p {
    margin: 10px 0;
    font-size: 25px;
    font-family: 'Madimi One', sans-serif;
    font-style: bold;
    color: #000;
}

#conheca-buttons, #contato-buttons, #atividades-buttons {
    margin-top: 10px;
}

#conheca-buttons button, #contato-buttons button, #atividades-buttons button {
    display: block;
    margin: 5px 0;
    padding: 10px;
    background-color: #71FF71;
    border: 2px solid #000;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Madimi One', sans-serif;
    font-size: 16px;
    color: #000;
    transition: background-color 0.3s, transform 0.3s;
    background-color: #B388EB;
}

#conheca-buttons button:hover, #contato-buttons button:hover, #atividades-buttons button:hover {
    background-color: #5ec65e;
    transform: scale(1.05);
}